<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>Assessment Tool</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
        <link rel="stylesheet" href="css/tree.css" />
    </head>
    
    <body>
       <div class="container-fluid" id="bootcontain">
            <div ng-app="ChartsApp">
                <div class="row" id="toprow">
                    <div class="col-md-12"> 
                        <div id="navbardiv" ng-include="'js/angular.architectureTree/templates/navbar.html?v=1.2'"></div>
                    </div>
                </div>
                
                <div class="row" id="approw">
                    <div class="col-md-2">
                        <div ng-controller="filterCtrl" ng-include="'js/angular.architectureTree/templates/filter.html?v=1.1'"></div>
                    </div>            
                    <div class="col-md-7">
                        <div ng-controller="chartCtrl" id="tree-container">
                            <tree-chart data="data"></tree-chart>
                        </div>   
                    </div>
                    <div class="col-md-3">
                        <div id="panel" ng-controller="panelCtrl">
                            <div ng-if="detail" ng-include="'js/angular.architectureTree/templates/panel-detail.html?v=1.8'"></div>
                            <div ng-if="edit" ng-include="'js/angular.architectureTree/templates/panel-edit.html?v=1.8'"></div> 
                        </div>                        
                    </div> 
                </div>
                
                <div class="row" id="bottomrow">
                    <div class="col-md-3">Developped by PMI Engineering </div> 
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">2017 All rights Reserved</div>     
                </div>
            </div>
        </div>
        <script src="js/vendor/d3.v3.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/d3.architectureTree.js"></script>
        <script src="js/angular.architectureTree/app.js"></script>
        <script src="js/angular.architectureTree/controllers/chart.js"></script>
        <script src="js/angular.architectureTree/controllers/filter.js"></script>
        <script src="js/angular.architectureTree/controllers/json-data.js"></script>
        <script src="js/angular.architectureTree/controllers/panel.js"></script>
        <script src="js/angular.architectureTree/controllers/undo.js"></script>
        <script src="js/angular.architectureTree/directives/tree-chart.js"></script>
        <script src="js/angular.architectureTree/directives/init-focus.js"></script>
        <script src="js/angular.architectureTree/services/data.js"></script>
        <script src="js/angular.architectureTree/services/bus.js"></script>
        <script src='http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js'></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </body>
</html>
