<div class="filters panel panel-default">
  <div class="panel-heading">Search</div>
  <div class="panel-body">
    <form id="filter_form">
      <input name="name" type="text" class="form-control" placeholder="Filter by name" ng-model="$parent.nameFilter"/>
      <div id="kpis">
        <h5>KPI</h5>
        <a ng-repeat="kpi in kpis" class="btn btn-default btn-xs" ng-click="togglekpiFilter(kpi)" ng-class="{'btn-primary': iskpiInFilter(kpi) }">{{ kpi }}</a>
      </div>
      <div id="machines">
        <h5>Machines</h5>
        <a ng-repeat="machine in machines" class="btn btn-default btn-xs" ng-click="togglemachineFilter(machine)" ng-class="{'btn-primary': ismachineInFilter(machine) }">{{ machine }}</a>
      </div>
      <div id="host">
        <h5>Host</h5>
        <a ng-repeat="host in hosts" class="btn btn-default btn-xs" ng-click="toggleHostFilter(host)" ng-class="{'btn-primary': isHostInFilter(host) }">{{ host }}</a>
      </div>
    </form>
  </div>
</div>
