<form name="editForm" ng-submit="editNode(editForm, $event)">
    <div class="details panel panel-info">      
            <div class="reqtype">
                <h5>Requirement type</h5>
                <input type="text" ng-model="node.type" class="form-control" init-focus />
            </div>

            <div class="requirementwhat">
                <h5>Requirement description</h5>
                <textarea ng-model="node.requirement" class="form-control" init-focus></textarea>
            </div>

            <div class="requirementhow">
                <h5>How</h5>
                <textarea ng-model="node.how" class="form-control" init-focus></textarea>
            </div>

            <div class="requirementwhy">
                <h5>Why</h5>
                <textarea ng-model="node.why" class="form-control" init-focus></textarea>
            </div>

            <div class="requirementid">
                <h5>ID</h5>
                <textarea ng-model="node.id" class="form-control" init-focus></textarea>
            </div>
            <div class="qsdoc">
                <h5>QS Document</h5>
                <textarea ng-model="node.qsdoc" class="form-control" init-focus></textarea>
            </div>



            <div class="url">
                <h5>Url</h5>
                <input type="text" ng-model="node.url" class="form-control" init-focus />
            </div>

            <div class="comments">
                <h5>Comments</h5>
                <textarea ng-model="node.comments" class="form-control" init-focus></textarea>
            </div>

            <div class="properties edit">
                <h5>Depends on <span class="glyphicon glyphicon-plus" ng-click="addDependency()"></span></h5>
                <ul>
                    <li ng-repeat="dependencies in node.dependsOn track by $index">
                        <input type="text" ng-model="node.dependsOn[$index]" init-focus /> <span class="remove glyphicon glyphicon-remove" ng-click="deleteDependency($index)"></span>
                    </li>
                </ul>

                <h5>Machines <span class="glyphicon glyphicon-plus" ng-click="addmachine()"></span></h5>
                <ul>
                    <li ng-repeat="machine in node.machines track by $index">
                        <input type="text" ng-model="node.machines[$index]" init-focus /> <span class="remove glyphicon glyphicon-remove" ng-click="deletemachine($index)"></span>
                    </li>
                </ul>

                <h5>KPI<span class="glyphicon glyphicon-plus" ng-click="addkpi()"></span></h5>
                <ul>
                    <li ng-repeat="kpi in node.kpis track by $index">
                        <input type="text" ng-model="node.kpis[$index]" init-focus />  <span class="remove glyphicon glyphicon-remove" ng-click="deletekpi($index)"></span>
                    </li>
                </ul>

                <h5>Changed <span class="glyphicon glyphicon-plus" ng-click="addHostCategory()"></span></h5>
                <ul>
                    <li ng-repeat="(key, host) in node.host track by $index">
                        <input type="text" ng-model="hostKeys[key]" init-focus /><span class="glyphicon glyphicon-plus" ng-click="addHost(key)"></span>
                        <span class="remove glyphicon glyphicon-remove" ng-click="deleteHostCategory(key)"></span>

                        <ul>
                            <li ng-repeat="test in node.host[key] track by $index">
                                <span class="remove glyphicon glyphicon-remove" ng-click="deleteHost(key, $index)"></span>
                                <input type="text" ng-model="node.host[key][$index]" init-focus />
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-action">
            <button type="button" ng-click="addNode()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add</button>
            <button type="button" ng-click="moveNode()" class="btn btn-default"><span class="glyphicon glyphicon-share-alt"></span> Move</button>
            <button type="button" ng-click="deleteNode()" class="btn btn-warning"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
        <div class="panel-action">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Save</button>
            <button type="button" ng-click="leaveEdit()" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
    </div>
</form>
