<div class="details panel panel-info">
    <div class="panel-heading">{{ node.name }}</div>
    <div class="panel-body" id="requirementpanel">
        <div class="url" ng-if="node.url">
            <a href="{{ node.url }}">{{ node.url }}</a>
        </div>

        <div class="comments panel panel-default" ng-if="node.comments">
            <div class="panel-body">{{ node.comments }}</div>
        </div>

        <div class="properties" ng-if="node.details.kpis">
            <h5>KPI</h5>
            <ul>
                <li ng-repeat="kpi in node.details.kpis">
                    {{ kpi }}
                </li>
            </ul>
        </div>
        <div class="panel-group" id="accordion" ng-if="'node.type==Process'" ng-repeat="child in node.children">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#{{child.name}}">{{ child.name }}</a>
                    </h4>
                </div>
                <div id="{{child.name}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ child.requirement }}
                    </div>
                </div>
            </div>
                          
        </div>
    </div>
</div>
