<form name="editForm" id="#editForm" ng-submit="editNode(editForm, $event)">
        <div class="details panel panel-info" id="editfields">     
            <label for="name">Name/Title</label>
            <input type="text" id="name" ng-model="node.name" class="form-control" init-focus />
            <label for="type">Requirement Type</label>
            <input type="text" ng-model="node.type" id="type" class="form-control" init-focus />
            
            <label for="qsdoc">QS Document</label>
            <input type="text" ng-model="node.qsdoc" id="qsdoc" class="form-control" init-focus />
            <label for="id">Id</label>
            <input type="text" ng-model="node.id" id="id" class="form-control" init-focus />
            
            <label for="req">Requirement:</label>
            <textarea ng-model="node.requirement" id="req" class="form-control" init-focus></textarea>
            <label for="how">How:</label>
            <textarea ng-model="node.how" id="how" class="form-control" init-focus></textarea>
            <label for="why">Why:</label>
            <textarea ng-model="node.why" id="why" class="form-control" init-focus></textarea>

            <label for="url">Url:</label>
            <input type="url" ng-model="node.url" id="url" class="form-control" init-focus />
            <label for="comments">comments:</label>
            <textarea ng-model="node.comments" id="comments" class="form-control" init-focus></textarea>
            
            <div class="properties edit">
                <h5>Machines <span class="glyphicon glyphicon-plus" ng-click="addmachine()"></span></h5>
                <ul>
                    <li ng-repeat="machine in node.machines track by $index">
                        <input type="text" ng-model="node.machines[$index]" init-focus /> <span class="remove glyphicon glyphicon-remove" ng-click="deletemachine($index)"></span>
                    </li>
                </ul>
                <h5>KPI<span class="glyphicon glyphicon-plus" ng-click="addkpi()"></span></h5>
                <ul>
                    <li ng-repeat="kpi in node.kpis track by $index">
                        <input type="text" ng-model="node.kpis[$index]" init-focus />  <span class="remove glyphicon glyphicon-remove" ng-click="deletekpi($index)"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-action">
            <button type="button" ng-click="addNode()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add</button>
            <button type="button" ng-click="moveNode()" class="btn btn-default"><span class="glyphicon glyphicon-share-alt"></span> Move</button>
            <button type="button" ng-click="deleteNode()" class="btn btn-warning"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
        <div class="panel-action">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Save</button>
            <button type="button" ng-click="leaveEdit()" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
</form>
